# MongoDB Configuration
MONGODB_URI=mongodb+srv://parashararyaman108:sql123123@cluster1-trial.7wkhers.mongodb.net/unistudent?retryWrites=true&w=majority&appName=Cluster1-trial

# Server Configuration
PORT=5000
NODE_ENV=development

# File Upload Configuration
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Socket.IO Configuration
SOCKET_CORS_ORIGIN=http://localhost:3000 